body {
    font-family: Calibri, sans-serif;
    background-color: #f9f9f9;
    color: #212529;
  }
  #addTaskBtn {
    font-family: Consolas, monospace;
    background-color:  #FFC72C;
    color: #000;
  }
  .change-priority-button {
    font-family: Consolas, monospace;
    background-color:  #F4B084;
    color: #000;
  }
  .change-priority-button:hover {
    background-color: #FFC72C;
  }
  .complete-task-button {
    font-family: Consolas, monospace;
    background-color:  #A9D08E;
    color: #000;
  }
  .complete-task-button:hover {
    background-color: #54b90c;
  }
  .delete-task-button {
    font-family: Consolas, monospace;
    background-color:   #FF5050;
    color: #000;
  }
  .delete-task-button:hover {
    background-color: #b70a0a;
  }
  .task-table {
    font-family: Consolas, monospace;
    border-collapse: collapse;
    padding: 20px;
    margin: 0 auto;
  }
  .table-header {
    font-family: Consolas, monospace;
    background-color: #7CB9E8;
    color: #fff;
  }

 .task-table th{
    padding-left: 20px;
  }
  
  .task-table td {
    padding-left: 20px;
  }
  
  .task-table tr:nth-child(even) {
    background-color: #E0FFFF;
  }
  
  .task-table tr:nth-child(odd) {
    background-color: #ADD8E6;
  }
  
  button {
    font-family: Consolas, monospace;
  }
  
  #clock {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 2.2rem;
    font-family: Consolas, monospace;
    padding: 10px 20px;
    color: #000;
  }
  